<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytime.mapper.LoginMapper">
	<parameterMap type="java.util.Map" id="changePassParam">
		<parameter property="newpass" javaType="string"/>
		<parameter property="userid" javaType="int"/>
	</parameterMap>
	<select id="selectUser" parameterType="userinfo" resultType="userinfo">
		SELECT
			userid,
			username,
			loginname,
			loginpass,
			email,
			power,
			uflag
		FROM userinfo
		WHERE loginname = #{loginname}
		AND loginpass = #{loginpass}
		AND uflag = 1	
	</select>
	<update id="updateMyInfo" parameterType="userinfoVO">
		UPDATE userinfo
		SET username = #{username},
			email = #{email}
		WHERE userid = #{userid}
	</update>
	<update id="updatePassword" parameterMap="changePassParam">
		UPDATE userinfo
		SET loginpass = #{newpass}
		WHERE userid = #{userid}
	</update>
</mapper>
